[Desktop Entry]
Type=Application
Name={{ APP_DISPLAY_NAME }}
Comment={{ APP_COMMENT }}
Icon={{ APP_SRC }}/micropolis-java/micropolisj.ico
Exec=/usr/local/bin/micropolis
Terminal=false
Categories=Game;

